

.box {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    /* background-color: rgb(185, 212, 226); */
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 12px 33px rgba(0,0,0,0.1);
}
.form-control {
    margin-bottom: 15px;
}
#button{
    background-color: #221f41;
    color: #ccc;
}
#title{
    color: #f6f4f4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
