

.box {
    height: 100%;
    /* margin: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
.login-container {  
    width: 100%;
    max-width: 400px;
    margin: 100px;
    padding: 20px;
    border: 1px solid #f4dbf4;
    border-radius: 10px;
    background-color: #ded0f8;
    box-shadow: 0 12px 33px rgba(0,0,0,0.1);
    color: #030101;
}
.form-control {
    margin-bottom: 15px;
}

#title{
    color: #f6f4f4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
